:root{
    --background: #46434B;
    --background-light: #CEE1E3;
    --devops: #a3d3d9;
    --consultant: #5daab4;
    --reseau: #358c97;
    --selected: #04A978;
    --not-selected: #2F3F00;
    --arrow: #f1eced80;
    --cta: #087554;
    --scroll: gray;
    --scroll-here: #23897d;
}